/* Global Externals */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* Local Components */
@import url('./variables.css');
@import url('./section.css');
@import url('./decoration.css');

* {
  z-index: 20;
}

html, body {
  background-color: var(--pf-color-document-background);
  color: var(--pf-color-document-text);
  font-family: var(--pf-font-family);
  margin: 0;
  padding: 0;
  width: calc(100vw - (100vw - 100%));
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: var(--pf-margin-medium);
  margin-top: 0;
}

h1 {
  font-size: var(--pf-font-size-xxx-large);
}

h2 {
  font-size: var(--pf-font-size-xx-large);
}

h3 {
  font-size: var(--pf-font-size-x-large);
}

a {
  color: var(--pf-color-link-text);
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header {
  align-items: center;
  background-color: var(--pf-color-bread-background);
  color: var(--pf-color-bread-text);
  display: flex;
  height: var(--pf-bread-height);
  justify-content: center;
  transition-duration: var(--pf-transition-duration-fast);
  width: 100%;
}

header[data-hidden="true"] {
  color: #00000000;
}

footer {
  align-items: center;
  background-color: var(--pf-color-bread-background);
  color: var(--pf-color-bread-text);
  display: flex;
  height: var(--pf-bread-height);
  justify-content: center;
  left: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: var(--pf-container-width);
}

nav > * {
  flex-basis: 1;
  font-size: var(--pf-font-size-large);
  margin: var(--pf-font-size-medium);
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: var(--pf-margin-medium) 0;
  padding: var(--pf-margin-medium) 0;
  width: 100%;
}

.content > *:not(:first-child) {
  margin-top: var(--pf-margin-medium);
}