@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
  --pf-color-bread-background: transparent;
  --pf-color-bread-text: #eeeeee;
  --pf-color-cta-background: #9e8d9e;
  --pf-color-gradient-primary: #285867;
  --pf-color-document-background: #333333;
  --pf-color-document-text: #1e1e1e;
  --pf-color-card-background: #aed3cf;

  --pf-font-size-small: 0.875rem;
  --pf-font-size-medium: 1rem;
  --pf-font-size-large: 1.25rem;

  --pf-font-family: 'Montserrat', sans-serif;

  --pf-margin-medium: 1rem;

  --pf-bread-height: 4rem;

  --pf-section-height-small: 16rem;
  --pf-section-height-medium: 20rem;
  --pf-section-height-large: 24rem;
}

html, body {
  background-color: var(--pf-color-document-background);
  color: var(--pf-color-document-text);
  font-family: var(--pf-font-family);
  margin: 0;
  padding: 0;
  width: calc(100vw - (100vw - 100%));
}

header {
  align-items: center;
  background-color: var(--pf-color-bread-background);
  color: var(--pf-color-bread-text);
  display: flex;
  height: var(--pf-bread-height);
  justify-content: center;
  width: 100%;
}

footer {
  align-items: center;
  background-color: var(--pf-color-bread-background);
  color: var(--pf-color-bread-text);
  display: flex;
  height: var(--pf-bread-height);
  justify-content: center;
  left: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: var(--pf-container-width);
}

nav > * {
  flex-basis: 1;
  font-size: var(--pf-font-size-large);
  margin: var(--pf-font-size-medium);
}

section {
  border-radius: 0.5rem;
  background-color: var(--pf-color-card-background);
  width: var(--pf-container-width);
  height: 25rem;
}

section[data-size="small"] {
  height: var(--pf-section-height-small);
}

section[data-size="medium"] {
  height: var(--pf-section-height-medium);
}

section[data-size="large"] {
  height: var(--pf-section-height-large);
}

section[data-type="cta"] {
  background-color: var(--pf-color-cta-background);
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: var(--pf-margin-medium) 0;
  padding: var(--pf-margin-medium) 0;
  width: 100%;
}

.content > *:not(:first-child) {
  margin-top: var(--pf-margin-medium);
}