.decoration {
  background: linear-gradient(#285867ff, #00000000);
  border-radius: var(--pf-border-radius-large);
  position: fixed;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  transition-duration: 0ms;
  z-index: 10;
}